################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/template/v15/Server/sqlite3/db.lock
/.vs/template/v15/Server/sqlite3/storage.ide
/.vs/template/v15/Server/sqlite3/storage.ide-shm
/.vs/template/v15/Server/sqlite3/storage.ide-wal
/.vs/Totally Not Settlers Of Catan/v15/Server/sqlite3/db.lock
/.vs/Totally Not Settlers Of Catan/v15/Server/sqlite3/storage.ide
/.vs/Totally Not Settlers Of Catan/v15/Server/sqlite3/storage.ide-shm
/.vs/Totally Not Settlers Of Catan/v15/Server/sqlite3/storage.ide-wal
